nifi/word-count-example.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>01d00451-0160-1000-a8b7-b8080728df52</groupId>
  <name>word-count-example</name>
  <snippet>
    <connections>
      <id>8f67f656-6d9b-3959-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>59ea879a-7ac4-3a54-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>db4d1ded-217a-3a73-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>96e8c57f-1ce0-31b6-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>d421687b-ba14-307a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>611a6df7-5fe7-33ee-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ce4bccc1-88e0-39c9-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>05fd3e11-ea78-37f3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>split</selectedRelationships>
      <source>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>d421687b-ba14-307a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>06ceb55d-e9f1-3a20-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>b44f0362-bf18-3a19-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>59ea879a-7ac4-3a54-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>2dcf4bc9-b2aa-3374-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>db4d1ded-217a-3a73-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>882ba826-358a-3e8f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>2e99ac66-40a7-3729-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>635.0626441335521</x>
        <y>516.6319216039568</y>
      </bends>
      <bends>
        <x>635.0626441335521</x>
        <y>583.6319216039568</y>
      </bends>
      <destination>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>05fd3e11-ea78-37f3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>05fd3e11-ea78-37f3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>55e84ef6-a3ad-37ba-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>634.9508277273021</x>
        <y>715.4834660985857</y>
      </bends>
      <bends>
        <x>634.9508277273021</x>
        <y>782.4834660985857</y>
      </bends>
      <destination>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>882ba826-358a-3e8f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>882ba826-358a-3e8f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>67461278-2025-3bca-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>882ba826-358a-3e8f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>5164a5a3-33ed-3487-0000-000000000000</groupId>
        <id>05fd3e11-ea78-37f3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <labels>
      <id>a5781fff-56c9-3a82-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <height>1254.345947265625</height>
      <label>Fetch from S3</label>
      <style>
        <entry>
          <key>font-size</key>
          <value>20px</value>
        </entry>
      </style>
      <width>608.7469482421875</width>
    </labels>
    <labels>
      <id>464e2c8e-4fbc-309f-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <position>
        <x>798.0132057607454</x>
        <y>823.0654602120576</y>
      </position>
      <height>245.5137481689453</height>
      <label>Count words</label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#ffd6f5</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>24px</value>
        </entry>
      </style>
      <width>1084.454345703125</width>
    </labels>
    <processors>
      <id>882ba826-358a-3e8f-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <position>
        <x>21.450827727302112</x>
        <y>681.9834660985857</y>
      </position>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Bucket</key>
            <value>
              <name>Bucket</name>
            </value>
          </entry>
          <entry>
            <key>Object Key</key>
            <value>
              <name>Object Key</name>
            </value>
          </entry>
          <entry>
            <key>Region</key>
            <value>
              <name>Region</name>
            </value>
          </entry>
          <entry>
            <key>Access Key</key>
            <value>
              <name>Access Key</name>
            </value>
          </entry>
          <entry>
            <key>Secret Key</key>
            <value>
              <name>Secret Key</name>
            </value>
          </entry>
          <entry>
            <key>Credentials File</key>
            <value>
              <name>Credentials File</name>
            </value>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
              <name>AWS Credentials Provider service</name>
            </value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>
              <name>Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Version</key>
            <value>
              <name>Version</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
            <value>
              <name>Endpoint Override URL</name>
            </value>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>
              <name>Signer Override</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
            <value>
              <name>Proxy Host Port</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Bucket</key>
            <value>lb-nifi-demo-landing20171124175225028000000002</value>
          </entry>
          <entry>
            <key>Object Key</key>
            <value>${filename}</value>
          </entry>
          <entry>
            <key>Region</key>
            <value>eu-west-2</value>
          </entry>
          <entry>
            <key>Access Key</key>
          </entry>
          <entry>
            <key>Secret Key</key>
          </entry>
          <entry>
            <key>Credentials File</key>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>Version</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>Default Signature</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchS3Object</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#2600ff</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
    </processors>
    <processors>
      <id>b44f0362-bf18-3a19-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <position>
        <x>1511.1127162118637</x>
        <y>881.0511627195681</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/tmp/nifi/output</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>d421687b-ba14-307a-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <position>
        <x>18.773474822028675</x>
        <y>257.9080076291948</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JsonPath Expression</key>
            <value>
              <name>JsonPath Expression</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JsonPath Expression</key>
            <value>$.Records[*].s3.object.key</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitJson</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitJson</type>
    </processors>
    <processors>
      <id>db4d1ded-217a-3a73-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <position>
        <x>19.939510039196193</x>
        <y>882.781105823294</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>filename</key>
            <value>
              <name>filename</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
          <entry>
            <key>filename</key>
            <value>${filename:replaceFirst("cds/",""):replaceAll("/", "-")}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Remove slashes from s3 key</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>05fd3e11-ea78-37f3-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <position>
        <x>21.562644133552112</x>
        <y>483.1319216039568</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>
              <name>Maximum Capture Group Length</name>
            </value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>
              <name>Enable Canonical Equivalence</name>
            </value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>
              <name>Enable Case-insensitive Matching</name>
            </value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>
              <name>Permit Whitespace and Comments in Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>
              <name>Enable DOTALL Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>
              <name>Enable Literal Parsing of the Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>
              <name>Enable Multiline Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>
              <name>Enable Unicode-aware Case Folding</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>
              <name>Enable Unicode Predefined Character Classes</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>
              <name>Enable Unix Lines Mode</name>
            </value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>
              <name>Include Capture Group 0</name>
            </value>
          </entry>
          <entry>
            <key>extract-text-enable-repeating-capture-group</key>
            <value>
              <name>extract-text-enable-repeating-capture-group</name>
            </value>
          </entry>
          <entry>
            <key>filename</key>
            <value>
              <name>filename</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>1024</value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>true</value>
          </entry>
          <entry>
            <key>extract-text-enable-repeating-capture-group</key>
            <value>false</value>
          </entry>
          <entry>
            <key>filename</key>
            <value>(.*)</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExtractText</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.ExtractText</type>
    </processors>
    <processors>
      <id>59ea879a-7ac4-3a54-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <position>
        <x>842.4276777940602</x>
        <y>879.817470918885</y>
      </position>
      <bundle>
        <artifact>nifi-scripting-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script Engine</key>
            <value>Groovy</value>
          </entry>
          <entry>
            <key>Script File</key>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>import org.apache.commons.io.IOUtils
import java.nio.charset.*

def flowFile = session.get()
if (!flowFile) return

flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
  def wordCount = [:]

  def textBody = IOUtils.toString(inputStream, StandardCharsets.UTF_8)
  def words = textBody.split(/(!|\?|-|\.|\"|:|;|,|\s)+/)*.toLowerCase()

  words.each { word -&gt;
    def currentWordCount = wordCount.get(word)
    if(!currentWordCount) {
      wordCount.put(word, 1)
    }
    else {
      wordCount.put(word, currentWordCount + 1)
    }
  }

  def outputMapString = wordCount.inject("", {k,v -&gt; k += "${v.key}: ${v.value}\n"})

  outputStream.write(outputMapString.getBytes(StandardCharsets.UTF_8))
} as StreamCallback)

session.transfer(flowFile, REL_SUCCESS)
</value>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExecuteScript</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>611a6df7-5fe7-33ee-0000-000000000000</id>
      <parentGroupId>5164a5a3-33ed-3487-0000-000000000000</parentGroupId>
      <position>
        <x>16.212134489997425</x>
        <y>48.40635262278602</y>
      </position>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Queue URL</key>
            <value>
              <name>Queue URL</name>
            </value>
          </entry>
          <entry>
            <key>Auto Delete Messages</key>
            <value>
              <name>Auto Delete Messages</name>
            </value>
          </entry>
          <entry>
            <key>Access Key</key>
            <value>
              <name>Access Key</name>
            </value>
          </entry>
          <entry>
            <key>Secret Key</key>
            <value>
              <name>Secret Key</name>
            </value>
          </entry>
          <entry>
            <key>Credentials File</key>
            <value>
              <name>Credentials File</name>
            </value>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
              <name>AWS Credentials Provider service</name>
            </value>
          </entry>
          <entry>
            <key>Region</key>
            <value>
              <name>Region</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>
              <name>Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Visibility Timeout</key>
            <value>
              <name>Visibility Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Receive Message Wait Time</key>
            <value>
              <name>Receive Message Wait Time</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
            <value>
              <name>Proxy Host Port</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Queue URL</key>
            <value>https://sqs.eu-west-2.amazonaws.com/568794283665/nifi_demo20171124181219015500000001</value>
          </entry>
          <entry>
            <key>Auto Delete Messages</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Access Key</key>
          </entry>
          <entry>
            <key>Secret Key</key>
          </entry>
          <entry>
            <key>Credentials File</key>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
          </entry>
          <entry>
            <key>Region</key>
            <value>us-west-2</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Visibility Timeout</key>
            <value>15 mins</value>
          </entry>
          <entry>
            <key>Receive Message Wait Time</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetSQS</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#2600ff</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.aws.sqs.GetSQS</type>
    </processors>
  </snippet>
  <timestamp>11/28/2017 09:57:15 UTC</timestamp>
</template>